<div>
  <ul>
    <li><%= link_to "Big Name Shop", '/items/all' %></li>
    <li><%= link_to "Cart Placeholder", '/cart' %></li>
    <li><%= form_tag '/signout' do %>
      <%= submit_tag 'Sign Out'%>
    <% end %></li>
  </ul>
</div>

<h1><%= @user.username.titleize %>'s Dashboard</h1>
<h2><%= link_to "Shop", '/items/all' %></h2>

<p>Email:<br><%= @user.email %></p>
Address:
<div>
  <%= @user.addresses[0].street_address_1 %> <br>
  <%= @user.addresses[0].street_address_2 %> <br>
  <%= @user.addresses[0].city %> <br>
  <%= @user.addresses[0].state %> <br>
  <%= @user.addresses[0].zipcode %><br>
</div> <br>

$<%= @user.format_balance %><br>
<%= link_to "Edit Profile", edit_user_path(@user)%>
