<h1><%= @user.username.titleize %>'s Dashboard</h1>


<h2><%= link_to "Shop", '/items/all' %></h2> <br>
<p>  <%= link_to "Sell an Item", '/items/new' %></p>
<p>Email:<br><%= @user.email %></p>

<div>
  Address: <br>
  <%= @user.addresses[0].street_address_1 %> <br>
  <%= @user.addresses[0].street_address_2 %> <br>
  <%= @user.addresses[0].city %> <br>
  <%= @user.addresses[0].state %> <br>
  <%= @user.addresses[0].zipcode %><br>
</div>
<p>  <%= link_to "Edit Profile", edit_user_path(@user)%></p>

<div class="">
<h2>Balance:</h2>
$ <%= @user.format_balance %>
</div>

<h2><%= link_to "Inventory", '/inventory' %></h2>
<h3><%= link_to "Add New Item", '/items/new' %></h3>

<h2>Orders:</h2>
<table>
  <col width="200">
  <col width="300">
  <col width="100">
  <col width="100">
  <col width="100">
  <thead>
   <tr>
     <th colspan="5"></th>
   </tr>
  </thead>
  <tbody>
    <% @user.show_orders.each do |order_group| %>
      <tr>
        <td><strong>Order Date</strong></td>
        <td><strong>Item</strong></td>
        <td><strong>Price</strong></td>
        <td><strong>Quantity</strong></td>
        <td><strong>Order Total</strong></td>
      </tr>
        <% order_group.each do |order| %>
          <tr>
            <td><%= order.date_formatted %> </td>
            <td><%= order.item_name %></td>
            <td>$ <%= order.item_price_formatted %></td>
            <td><%= 1 %></td>
            <td></td>
          </tr>
        <% end %>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>$ <%= "#{sprintf("%.2f", @user.order_totals[@user.show_orders.index(order_group)])}" %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
