<h1><%= @user.username %> Dashboard</h1>
<p><%= @user.email %></p>
<div>
  <%= @user.addresses[0].street_address_1 %> <br>
  <%= @user.addresses[0].street_address_2 %> <br>
  <%= @user.addresses[0].city %> <br>
  <%= @user.addresses[0].state %> <br>
  <%= @user.addresses[0].zipcode %><br>
</div>

<%= link_to "Edit Profile", edit_user_path(@user)%>

<%= form_tag '/signout' do %>
  <%= submit_tag 'Sign Out'%>
<% end %>
