
<h1>Home</h1>


<table class="ui celled padded table">
    <thead>
      <tr><th class="single line center aligned">Image</th>
        <th class="center aligned" =>Item Name</th>
        <th class="center aligned">Price</th>
        <th class="center aligned">Qty Available</th>
      </tr>
    </thead>
    <tbody>
      <% @items.each do |item| %>
      <tr>
        <td class="center aligned"><% if item.image_url %>
          <%= image_tag(item.image_url(:thumb))%> <br>
        <% end %></td>
        <td class="center aligned"><h4><%= link_to item.name, category_item_path(item.category, item) %></h4></td>
        <td class="center aligned"><h4>$ <%= item.price_formatted %></h4></td>
        <td class="center aligned"><h4><%= item.quantity %> </h4>
          <%= form_tag add_to_cart_category_item_path(item.category, item) do %>
            <%= submit_tag 'Add to Cart', class: "ui button"%>
          <% end %>
      </td>
      </tr>
      <% end %>
    </tbody>
  </table> <br>
