<h1>Create an Item</h1> <br>

<h5>Picture Placeholder</h5> <br>

<%= form_for @item, :url => url_for(:controller => 'items', :action => 'post') do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :price %>
  <%= f.number_field :price %>
  <%= f.label :quantity %>
  <%= f.number_field :quantity %>
  <%= f.collection_select(:category_id, Category.all, :id, :name) %>
  <%= f.submit %>
<% end %>
