<script type="text/javascript">$(document).ready(function(){$(".rating").rating();});</script>

<% if @item.image_url %>
  <%= image_tag(@item.image_url(:thumb)) %> <br>
<% end %>
<br>
<div>
  <h3><%= @item.name %></h3>
  $ <%= @item.price_formatted %><br>
  Quantity: <%= @item.quantity %> Available<br>
  Sold By: <%= @item.user.username.titleize %><br>
  <div class="ui star rating" data-rating="3"></div>
<br>
  Description: <br> <br>
  <% if @item.description %>
    <%= @item.description %>
  <% end %>
</div>
<br>
<br>
<div class="">
  <%= form_tag add_to_cart_category_item_path(@item.category, @item) do %>
    <%= submit_tag 'Add to Cart'%>
  <% end %>
</div>
<h3><%= link_to "Back to Shopping", '/items/all'%></h3>
