<h1>Image Placeholder</h1>
<div>
  <%= @item.name %><br>
  $<%= @item.price_formatted %><br>
  <%= @item.quantity %> Available<br>
  Sold by: <%= @item.user.username %><br>
</div>

<div class="">
  Add to Cart Placeholder
</div>

<div class="">
  Reviews placeholder
</div>

<%= form_tag add_to_cart_category_item_path(@item.category, @item) do %>
  <%= submit_tag 'Add to Cart'%>
<% end %> <br>

<%= link_to "Back to Shopping", '/items/all'%>
