<h1>Image Placeholder</h1>
<div>
  <%= @item.name %><br>
  $ <%= @item.price_formatted %><br>
  <%= @item.quantity %> Available<br>
  Sold by: <%= @item.user.username %><br>

  Description: <br>
  <%= @item.description %>
  <strong>Image:</strong>
  <% if @item.image_url %>
    <%= image_tag(@item.image_url(:thumb)) %>
  <% end %>
</div>

<div class="">
  <%= form_tag add_to_cart_category_item_path(@item.category, @item) do %>
    <%= submit_tag 'Add to Cart'%>
  <% end %>
</div>

<div class="">
  Reviews placeholder
</div>



<%= link_to "Back to Shopping", '/items/all'%>
