<!DOCTYPE html>
<html>
  <head>
    <title>Mod2ProjectFlatazonMarket</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
      <ul>
        <li><%= link_to "Big Name Shop", '/items/all' %></li>
        <li><%= link_to "Cart Placeholder", '/cart' %></li>
        <li><%= form_tag '/signout' do %>
          <%= submit_tag 'Sign Out'%>
        <% end %></li>
      </ul>
    </div>
    <%= yield %>
  </body>
</html>
